<!--
  Author: Travis Rosen
  Date: 09/04/2021
  Name: app.component.html
  Description: HTML page for contact
-->

<div fxLayout="column">
  <div fxFlex class="contact-container">
    <h1 class="title">Contact Page</h1>
  </div>
  <div fxFlex class="contact-container">
    <div fxLayout="row wrap" fxLayoutGap="15px">
      <mat-card fxFlex>
        <mat-card-title class="'mat-title-icon center-text">
          <mat-icon class="size-40" color="primary">navigation</mat-icon>
        </mat-card-title>
        <br><br>
        <mat-card-content>
          <p class="center-text">
            34 Rosen Drive, <br />
            Dallas, TX 75067
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card fxFlex>
        <mat-card-title class="mat-title-icon center-text">
          <mat-icon class="size-40" color="primary">phone</mat-icon>
        </mat-card-title>
        <br><br>
        <mat-card-content>
          <p class="center-text">
            Direct: 210-887-1111 <br>
            Fax: 210-111-1111
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div fxFlex>
    <p class="center-text">
      Visit us online or at our home location in Dallas, Texas.
    </p>
  </div>
</div>
