<!--
  Author: Travis Rosen
  Name: Not-found.component.html
  Date: 11/14/2021
  Description: HTML page for 404 error
-->

<div fxLayout="column">
  <div fxFlex class="not-found-container">
    <h1 class="title">Are you lost?</h1>
  </div>
  <div fxFlex class="not-found-container">
    <div fxLayout="row wrap" fxLayoutGap="15px">
      <div class="image-container">
        <img src="./assets/error.gif" />
      </div>
    </div>
    <br> <br>
    <button mat-raised-button color="primary" routerLink="/">Let's Go Back Home</button>
  </div>
</div>









