<!--
  Author: Travis Rosen
  Date: 10/10/2021
  Name: about.component.html
  Description: HTML page for about page
-->

<div fxLayout="column">
  <div fxFlex class="about-container">
    <h1 class="title">About Us</h1>
  </div>
  <div fxFlex class="about-container">
    <div fxLayout="row wrap" fxLayoutGap="15px">
      <div class="image-container">
        <img src="./assets/nblogo.gif" />
      </div>
      <mat-card fxFlex class="mat-card-elevation-z8">
        <mat-card-title class="center-text" color="primary">
          About nodeBucket
        </mat-card-title>
        <hr>
        <br>
        <mat-card-content>
          <p>
            NodeBucket is a simple to use task management software to simplify the creating, tracking, updating, and deleting your important info.
            This application is a full-stack MEAN (MongoDB, Express, Angular, & Node.Js). This application is a great example of how to increase productivity,
            efficiency, and time management-skills.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

