<!--
  Author: Travis rosen
  Name: home.component.html
  Date: 11/7/2021
  Description: HTML page for home component
-->

<div fxLayout="column" class="main-welcome">
    <h1 class="title">
      NodeBucket
      <br>
      <h2 class="title">Task Management</h2>

    </h1>
  <br>
  <div fxFlex>
    <div class="task-container" fxLayout="column">
      <button mat-raised-button color="primary" (click)="openCreateTaskDialog()">Create Task</button>
    </div>
  </div>
  <br><br>
  <!--TodoTask Column-->
  <div fxFlex>
    <div fxLayout="row" fxLayoutGap="15px" class="task-container">
      <div fxFlex>
        <mat-card class="mat-elevation-z8 todo-card">
          <mat-card-title>To Do</mat-card-title>
          <mat-card-content>
            <div fxLayout="column"
                 fxLayoutGap="0px"
                 class="task-column"
                 cdkDropList
                 #todoList="cdkDropList"
                 [cdkDropListData]="todo"
                 [cdkDropListConnectedTo]="[doneList]"
                 (cdkDropListDropped)="drop($event)">
              <div *ngFor="let item of todo" cdkDrag>
                <mat-card class="mat-elevation-z0 task-card-todo">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex class="task-text">
                        {{ item.text }}
                      </div>
                      <div fxFlex fxLayoutAlign="end">
                        <button mat-icon-button (click)="deleteTask(item._id)">
                          <mat-icon class="delete-button">delete</mat-icon>
                        </button>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <!--Done Task Column-->
      <div fxFlex>
        <mat-card class="mat-elevation-z8 done-card">
          <mat-card-title>Done</mat-card-title>
          <mat-card-content>
            <div fxLayout="column"
                 fxLayoutGap="0px"
                 class="task-column"
                 cdkDropList
                 #doneList="cdkDropList"
                 [cdkDropListData]="done"
                 [cdkDropListConnectedTo]="[todoList]"
                 (cdkDropListDropped)="drop($event)">
              <div *ngFor="let item of done" cdkDrag>
                <mat-card class="mat-elevation-z0 task-card-done">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex class="task-text">
                        {{ item.text }}
                      </div>
                      <div fxFlex fxLayoutAlign="end">
                        <button mat-icon-button (click)="deleteTask(item._id)">
                          <mat-icon class="delete-button">delete</mat-icon>
                        </button>
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
