<!--
  Author: Travis rosen
  Name: home.component.html
  Date: 11/7/2021
  Description: HTML page for home component
-->

<div fxLayout="column" class="main-welcome">
    <h1 class="title">
      NodeBucket
      <br>
      <h2 class="title">Task Management</h2>

    </h1>
  <br>

  <br>
  <div fxFlex>
    <div class="task-container" fxLayout="column">
      <button mat-flat-button color="primary" (click)="openCreateTaskDialog()">Create Task</button>
    </div>
  </div>

  <div fxFlex>
    <div fxLayout="row" fxLayoutGap="15px" class="task-container">
      <div fxFlex>
        <mat-card class="mat-elevation-z0">
          <mat-card-title>To Do</mat-card-title>
          <mat-card-content>
            <div class="task-column">
              <div *ngFor="let item of todo">
                <mat-card class="mat-elevation-z0 task-card">
                  <mat-card-content>
                    <div fxLayout="row">
                      <div fxFlex>
                        {{ item.text }}
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex>
        <mat-card class="mat-elevation-z0">
          <mat-card-title>Done</mat-card-title>
          <mat-card-content>
            <div class="task-column">
              <div *ngFor="let item of done">
                <mat-card class="mat-elevation z0 task-card">
                  <div fxLayout="row">
                    <div fxFlex>
                      {{ item.text }}
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
