/*
Author: Travis Rosen
Name: signin.component.css
Date: 11/4/2021
Description: Styling for sign in page
*/

.message-error {
  margin: 20px o;
  padding: 10px;
  color: #d9000c;
  background-color: #ffd2d2;
  font-size: 20px;
  font-style: bold;
}

.log-in-container {
  width: 40%;
  margin: 100px auto;
}

.mat-card-title {
  text-align: center;
  font-size: 35px;
  color: #572991;
}

.form {
  width: 100%;
}

.subtitle {
  text-align: center;
  color: #572991;
}

.title {
  font-weight: lighter;
  color: #572991;
}


